*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f7fa;
}

/*  Tablo CSS   */
.table-wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    margin:1.5rem auto;
    border: 1px solid rgba(128, 128, 128, 0.534);
    border-radius: 5px;
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}




/*  Tablo Başlık CSS   */
thead th{ 
    padding: 0.8rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.534);
    background-color:aliceblue ;
    color: rgba(0, 0, 0, 0.582);
    text-transform: capitalize;
    width: 100px;
}
/*  Tablo Sıralama Icon CSS   */
.user-sort-icon{
    background-color: inherit;
    margin:0 0 -4px 10px;
    font-size: 1.2rem;
}
.user-sort-icon:hover{
    cursor: pointer;
    color: rgb(4, 0, 228);
}




/*  Tablo İçerik CSS   */
tbody td{
    border-bottom: 1px solid rgb(216, 216, 216);
    padding: 0.8rem;
    font-weight: 600;
}
tbody tr:hover{
    background-color: #c7e6ff;
    cursor: pointer;
}
/*  Tablo İşlemler Kısmı CSS   */
.user-button{
    padding: 0.5rem 0.8rem;
    border: 1px solid gray;
    border-radius:40px;
    margin:2px;
    color: #fff;
    transition: transform .05s ease-in;
}
.user-button:hover{
    cursor: pointer;
    transform:  scale(1.1);
}

.user-button:active{
    transform:  scale(0.9);
}

.delete-user{
    background-color: #D52121;
}
.edit-user{
    background-color: #2257E3;
}





/*  Tablo Edit Kısmı CSS   */
td>input{
    width: 90%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.cancel-user-edit{
    background-color: #D52121;
}
.save-user-edit{
    background-color: #20831d;
}





/*  Tablo Bilgilendirme CSS   */
.no-users-info{
    text-align: left;
    margin: 1rem;
    border: 1px solid lightgray;
    background-color: #efc372;
    padding: 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    color: black;
    font-weight: 900;
}




/*  Tablo Arama Kısmı CSS   */
.user-search{
    width: 25%;
    padding: 0 20px;
    margin: 2.5rem auto;
    text-align: center;
    border-bottom: 1px solid black;
    white-space: nowrap;
}

.user-search > input{
    outline: none;
    border: none;
    width: 90%;
    padding: 0.5rem 0;
    font-size:1.5rem;
}
.user-search-icon{
    margin-left: 10px;
}
.user-delete-icon{
    margin: 0 0 -4px 10px;
    font-size: 1.5rem;
}
.user-delete-icon:hover{
    color: #D52121;
    cursor: pointer;
}


/*  Tablo Kullanıcı Ekleme Fom Kısmı CSS   */
.add-user-form{
    margin: 2.5rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 2.5rem 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.add-user-form h1{
    color: rgb(141, 141, 141);
}
.add-user-form input{
    padding: 8px 16px;
    border-radius: 5px;
    width: 25%;
    transition: all 0.2s ease-in;
}
.add-user-form input::placeholder{
    color: black;
    font-weight: 600
}
.add-user-form>input:focus{
    font-size: 2em;
    padding: 16px;
}
.button-wrapper{
    width: 25%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.button-wrapper input{
    color: #fff;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.322);
}
.button-wrapper input:first-child{
    background-color: #10440e;
}
.button-wrapper input:first-child:hover{
    cursor: pointer;
    background-color: #20831d;
    transform: scale(1.1);
}
.button-wrapper input:last-child{
    background-color: #741111;
}
.button-wrapper input:last-child:hover{
    cursor: pointer;
    background-color: #D52121;
    transform: scale(1.1);
}

